---
layout: layout.njk
eleventyExcludeFromCollections: true
---
<p><a href="https://github.com/zachleat/nexodus">Source code at <code>zachleat/nexodus</code></a></p>

<ol reversed>
{%- for post in collections.all | reverse %}
	<li>
		{{ post.content | safe }}
		<ul>
			<li><small><em><a href="{{ post.url }}">{{ post.date.toUTCString() }}</a> — {{ post.data.authors | renderAuthors | safe }}</em></small></li>
			<li><small><em><a href="{{ post.data.metadata.url }}">Original on {{ post.data.sectionTitle }}</a></em></small></li>
		</ul>
	</li>
{%- endfor %}
</ol>