---
layout: layout.njk
eleventyExcludeFromCollections: true
---
<ol reversed>
{%- for post in collections.all | reverse %}
	<li>
		{{ post.content | safe }}
		<small><em><a href="{{ post.url }}">{{ post.date.toUTCString() }}</a> ({{ post.data.sectionTitle }})</em></small>
	</li>
{%- endfor %}
</ol>