---
layout: layout.njk
---
{% set previousPost = collections.all | getPreviousCollectionItem %}
{% set nextPost = collections.all | getNextCollectionItem %}
<ul>
	<li>Next {% if nextPost %}<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% else %}<em>(End)</em>{% endif %}</li>
	<li>Previous {% if previousPost %}<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% else %}<em>(End)</em>{% endif %}</li>
</ul>

<hr>

<article>
	{{ content | safe }}
</article>

<ul>
	<li><small><em>{{ page.date.toUTCString() }} — {{ authors | renderAuthors | safe }}</em></small></li>
	<li><small><em><a href="{{ metadata.url }}">Original on {{ sectionTitle }}</a></em></small></li>
</ul>