---
pageTitle: Nexodus
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# <meta name="description" content=""> #}
		<title>{{ sectionTitle or pageTitle }}</title>
	</head>
	<body>
		<header>
			<h1>{{ sectionTitle or pageTitle }}</h1>
		</header>
		<main>
			{{ content | safe }}
		</main>
	</body>
</html>