---
layout: layout.njk
---
{{ content | safe }}

<small><em><a href="{{ metadata.url }}">{{ page.date.toUTCString() }}</a> {{ sectionTitle }} {{ authors | renderAuthors | safe }}</em></small>

<p><a href="/">&lt; Nexodus</a></p>